@font-face {
    font-family: GDS-Logo;
    src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }
  
  @-ms-viewport {
    width: device-width; }
  
  @-o-viewport {
    width: device-width; }
  
  @-ms-viewport {
    width: device-width; }
  
  @-o-viewport {
    width: device-width; }
  
  @font-face {
    font-family: GDS-Logo;
    src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }
  
  @-ms-viewport {
    width: device-width; }
  
  @-o-viewport {
    width: device-width; }
  
  @-ms-viewport {
    width: device-width; }
  
  @-o-viewport {
    width: device-width; }
  
  @-ms-viewport {
    width: device-width; }
  
  @-o-viewport {
    width: device-width; }
  
  @-ms-viewport {
    width: device-width; }
  
  @-o-viewport {
    width: device-width; }
  
  .calculator-page {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none; }
    @media (max-width: 640px) {
      .calculator-page {
        font-size: 16px;
        line-height: 1.25; } }
    .calculator-page header.page-header div h1 {
      font-family: "nta", Arial, sans-serif;
      font-size: 48px;
      line-height: 1.04167;
      font-weight: 400;
      text-transform: none;
      font-weight: 700; }
      @media (max-width: 640px) {
        .calculator-page header.page-header div h1 {
          font-size: 32px;
          line-height: 1.09375; } }
      .calculator-page header.page-header div h1 .inner {
        padding-right: 2em; }
        .calculator-page header.page-header div h1 .inner > *:first-child {
          margin-top: 30px; }
  
  header.page-header .skip-to-related {
    position: absolute;
    left: -9999em; }
  
  header.page-header .skip-to-related:focus {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    left: 32px;
    top: -2em; }
  
  @media (max-width: 640px) {
    header.page-header .skip-to-related {
      position: relative;
      display: -moz-inline-stack;
      display: inline-block;
      left: 1em;
      top: -1em; } }
  header.page-header div {
    background-color: #fff;
    display: block;
    margin: 0 24em 0 0;
    padding: 1em 2em 2em 1.5em; }
  
  @media (max-width: 800px) {
    header.page-header div {
      margin: 0;
      padding-bottom: 0; } }
  header.page-header div h1 {
    font-family: "nta",Arial,sans-serif;
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 400;
    text-transform: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    color: #0b0c0c;
    font-weight: 600; }
  
  @media (max-width: 640px) {
    header.page-header div h1 {
      font-size: 32px;
      line-height: 1.09375; } }
  @media (min-width: 641px) {
    header.page-header div h1 {
      padding-top: 7px;
      padding-bottom: 13px; } }
  header.page-header div h1 span {
    font-family: "nta",Arial,sans-serif;
    font-size: 27px;
    line-height: 1;
    font-weight: 400;
    text-transform: none;
    display: block;
    margin-bottom: 0.25em;
    text-shadow: none;
    color: #6f777b; }
  
  @media (max-width: 640px) {
    header.page-header div h1 span {
      font-size: 18px;
      line-height: 1.11111; } }
  .inner {
    margin: 0 auto;
    padding: 1em;
    position: relative; }
  
  #calculator {
    margin-right: 22.25em;
    min-height: 0;
    position: relative;
    width: 100%;
    z-index: 1; }
  
  #calculator .inner {
    padding: 0 0 2em 1.5em;
    width: auto; }
  
  @media (max-width: 800px) {
    #calculator {
      min-height: 0; }
  
    #calculator .inner {
      padding: 0 2em 1em 1.5em; } }
  @media (max-width: 640px) {
    #calculator .inner {
      padding: 0 1em 1em 1.5em; } }
  #calculator header h1 {
    font-family: "nta",Arial,sans-serif;
    font-size: 27px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    padding-top: 8px;
    padding-bottom: 7px;
    font-weight: 700;
    color: #0b0c0c;
    margin-top: 0;
    margin-bottom: 0; }
  
  @media (max-width: 640px) {
    #calculator header h1 {
      font-size: 18px;
      line-height: 1.11111; } }
  @media (min-width: 641px) {
    #calculator header h1 {
      padding-top: 4px;
      padding-bottom: 6px; } }
  #calculator header h1 span {
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    display: block;
    margin-bottom: 0.4em; }
  
  @media (max-width: 640px) {
    #calculator header h1 span {
      font-size: 14px;
      line-height: 1.14286; } }
  .wf-nta-n4-active #calculator header h1 span {
    font-family: "NTA", "Helvetica Neue", Arial, Helvetica, sans-serif; }
  
  #calculator h1 + h2 {
    margin-top: 0.75em; }
  
  #calculator h2 {
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    margin: 1.2em 0 0.4em 0; }
  
  @media (max-width: 640px) {
    #calculator h2 {
      font-size: 20px;
      line-height: 1.2; } }
  #calculator h2 + h3 {
    margin-top: 0.75em; }
  
  #calculator h3 {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 0.75em; }
  
  @media (max-width: 640px) {
    #calculator h3 {
      font-size: 16px;
      line-height: 1.25; } }
  #calculator h3 + h4 {
    margin-top: 0.75em; }
  
  #calculator h4 {
    margin-top: 1.5em;
    margin-bottom: 0; }
  
  #calculator h3 + table {
    margin-top: 0.652em; }
  
  #calculator h4 + table {
    margin-top: 0.75em; }
  
  #calculator h2 + p, #calculator h3 + p, #calculator h4 + p, #calculator h2 + ol, #calculator h3 + ol, #calculator h4 + ol, #calculator h2 + ul, #calculator h3 + ul, #calculator h4 + ul {
    margin-top: 0.2em; }
  
  #calculator h1, #calculator h2, #calculator h3, #calculator h4 {
    color: #0b0c0c; }
  
  #calculator p, #calculator ul, #calculator ol {
    margin: 0.75em 0; }
  
  #calculator p {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none; }
  
  @media (max-width: 640px) {
    #calculator p {
      font-size: 16px;
      line-height: 1.25; } }
  #calculator table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 95%; }
  
  #calculator table caption {
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    margin: 0.4em 0.5em 0.4em 0.7em;
    text-align: left; }
  
  @media (max-width: 640px) {
    #calculator table caption {
      font-size: 20px;
      line-height: 1.2; } }
  @media (max-width: 640px) {
    #calculator table {
      margin: 1em 0 2em 0;
      width: 100%; }
  
    #calculator table caption {
      padding-left: 0; } }
  #calculator th {
    line-height: 1.25em;
    color: #0b0c0c;
    background-color: #dee0e2;
    border: solid 1px #a1acb2; }
  
  #calculator th, #calculator td {
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    text-transform: none;
    vertical-align: top;
    padding: 0.7em 0.5em 0.7em 1em; }
  
  @media (max-width: 640px) {
    #calculator th, #calculator td {
      font-size: 14px;
      line-height: 1.14286; } }
  #calculator th a[rel="external"]:after, #calculator td a[rel="external"]:after {
    content: "\A0\A0\A0\A0\A0";
    background-position: right 3px; }
  
  #calculator th a[rel="external"]:hover:after, #calculator td a[rel="external"]:hover:after {
    background-position: right -385px; }
  
  @media (max-width: 640px) {
    #calculator th a[rel="external"]:after, #calculator td a[rel="external"]:after {
      content: "\A0\A0\A0\A0\A0";
      background-position: right 1px; }
  
    #calculator th a[rel="external"]:hover:after, #calculator td a[rel="external"]:hover:after {
      background-position: right -387px; } }
  #calculator tr:nth-child(even) td {
    background-color: #fff; }
  
  #calculator td {
    background: #eaedef;
    border: dotted 1px #b8c6cc; }
  
  #calculator td small {
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none; }
  
  @media (max-width: 640px) {
    #calculator td small {
      font-size: 14px;
      line-height: 1.14286; } }
  @media screen and (max-width: 320px) {
    #calculator th, #calculator td, #calculator td small {
      font-size: 10px; } }
  input[type="text"], input[type="password"], select, textarea {
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    border: 1px solid #bbb;
    width: 75%;
    padding: 0.25em;
    display: block; }
  
  @media (max-width: 640px) {
    input[type="text"], input[type="password"], select, textarea {
      font-size: 14px;
      line-height: 1.14286; } }
  .input-small {
    max-width: 180px; }
  
  .input-medium {
    max-width: 300px; }
  
  .input-large {
    max-width: 380px; }
  
  .input-extra-large {
    max-width: 600px; }
  
  input[type="text"] {
    display: block;
    margin: 0.2em 0 1em 0; }
  
  label {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-size: 1.9rem;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    display: block; }
  
  @media (max-width: 640px) {
    label {
      font-size: 1.6rem;
      line-height: 1.25; } }
  #calculator .steps {
    margin: 0;
    float: left;
    width: 23px;
    height: 23px;
    margin-right: 0.75em; }
  
  #calculator #step-1 {
    background-image: url(govuk_frontend_toolkit-master/images/icon-steps/icon-step-1.png); }
  
  #calculator #step-2 {
    background-image: url(govuk_frontend_toolkit-master/images/icon-steps/icon-step-2.png); }
  
  #calculator #step-3 {
    background-image: url(govuk_frontend_toolkit-master/images/icon-steps/icon-step-3.png); }
  
  #calculator #step-4 {
    background-image: url(govuk_frontend_toolkit-master/images/icon-steps/icon-step-4.png); }
  
  #calculator #step-5 {
    background-image: url(govuk_frontend_toolkit-master/images/icon-steps/icon-step-5.png); }
  
  div#content, section#content {
    margin: 0 auto;
    max-width: 1020px;
    position: relative;
    display: block; }
  
  .alpha-warning {
    padding: 8px 0;
    background-color: #d53880; }
    .alpha-warning p {
      max-width: 960px;
      margin: 0 auto;
      padding: 0 15px;
      color: #0b0c0c;
      font-family: "nta", Arial, sans-serif;
      font-size: 16px;
      line-height: 1.25;
      font-weight: 300;
      text-transform: none; }
      @media (max-width: 640px) {
        .alpha-warning p {
          font-size: 14px;
          line-height: 1.14286; } }
    .alpha-warning a, .alpha-warning a:link, .alpha-warning a:visited, .alpha-warning a:active {
      color: #0b0c0c; }
    .alpha-warning a:hover {
      color: #0b0c0c; }
  
  .beta-warning {
    padding: 8px 0;
    background-color: #f47738; }
    .beta-warning p {
      max-width: 960px;
      margin: 0 auto;
      padding: 0 15px;
      color: #0b0c0c;
      font-family: "nta", Arial, sans-serif;
      font-size: 16px;
      line-height: 1.25;
      font-weight: 300;
      text-transform: none; }
      @media (max-width: 640px) {
        .beta-warning p {
          font-size: 14px;
          line-height: 1.14286; } }
    .beta-warning a, .beta-warning a:link, .beta-warning a:visited, .beta-warning a:active {
      color: #0b0c0c; }
    .beta-warning a:hover {
      color: #0b0c0c; }
  
  .phase-live {
    border-top: 10px solid #005ea5; }
  
  #global-header .header-proposition {
    padding-top: 5px !important; }
  
  .button {
    background-color: #00823b;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0.35em 0.5em 0.15em 0.5em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #003518;
    -moz-box-shadow: 0 2px 0 #003518;
    box-shadow: 0 2px 0 #003518;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: white; }
    .button:visited {
      background-color: #00823b; }
    .button:hover, .button:focus {
      background-color: #00692f; }
    .button:active {
      top: 2px;
      -webkit-box-shadow: 0 0 0 #00823b;
      -moz-box-shadow: 0 0 0 #00823b;
      box-shadow: 0 0 0 #00823b; }
    .button.disabled, .button[disabled="disabled"], .button[disabled] {
      zoom: 1;
      filter: alpha(opacity=50);
      opacity: 0.5; }
      .button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
        cursor: default;
        background-color: #00823b; }
      .button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
        top: 0;
        -webkit-box-shadow: 0 2px 0 #003518;
        -moz-box-shadow: 0 2px 0 #003518;
        box-shadow: 0 2px 0 #003518; }
    .button:link, .button:hover, .button:focus, .button:visited {
      color: white; }
    .button:before {
      content: "";
      height: 110%;
      width: 100%;
      display: block;
      background: transparent;
      position: absolute;
      top: 0;
      left: 0; }
    .button:active:before {
      top: -10%;
      height: 120%; }
    .button[rel="external"]:after {
      display: none;
      content: none;
      margin-left: 0;
      margin-right: 0; }
  
  .button-secondary {
    background-color: #dee0e2;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0.35em 0.5em 0.15em 0.5em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #b5babe;
    -moz-box-shadow: 0 2px 0 #b5babe;
    box-shadow: 0 2px 0 #b5babe;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #0b0c0c; }
    .button-secondary:visited {
      background-color: #dee0e2; }
    .button-secondary:hover, .button-secondary:focus {
      background-color: #d0d3d6; }
    .button-secondary:active {
      top: 2px;
      -webkit-box-shadow: 0 0 0 #dee0e2;
      -moz-box-shadow: 0 0 0 #dee0e2;
      box-shadow: 0 0 0 #dee0e2; }
    .button-secondary.disabled, .button-secondary[disabled="disabled"], .button-secondary[disabled] {
      zoom: 1;
      filter: alpha(opacity=50);
      opacity: 0.5; }
      .button-secondary.disabled:hover, .button-secondary[disabled="disabled"]:hover, .button-secondary[disabled]:hover {
        cursor: default;
        background-color: #dee0e2; }
      .button-secondary.disabled:active, .button-secondary[disabled="disabled"]:active, .button-secondary[disabled]:active {
        top: 0;
        -webkit-box-shadow: 0 2px 0 #b5babe;
        -moz-box-shadow: 0 2px 0 #b5babe;
        box-shadow: 0 2px 0 #b5babe; }
    .button-secondary:link, .button-secondary:hover, .button-secondary:focus, .button-secondary:visited {
      color: #0b0c0c; }
    .button-secondary:before {
      content: "";
      height: 110%;
      width: 100%;
      display: block;
      background: transparent;
      position: absolute;
      top: 0;
      left: 0; }
    .button-secondary:active:before {
      top: -10%;
      height: 120%; }
    .button-secondary[rel="external"]:after {
      display: none;
      content: none;
      margin-left: 0;
      margin-right: 0; }
  
  .button-warning {
    background-color: #b10e1e;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0.35em 0.5em 0.15em 0.5em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #6a0812;
    -moz-box-shadow: 0 2px 0 #6a0812;
    box-shadow: 0 2px 0 #6a0812;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: white; }
    .button-warning:visited {
      background-color: #b10e1e; }
    .button-warning:hover, .button-warning:focus {
      background-color: #990c1a; }
    .button-warning:active {
      top: 2px;
      -webkit-box-shadow: 0 0 0 #b10e1e;
      -moz-box-shadow: 0 0 0 #b10e1e;
      box-shadow: 0 0 0 #b10e1e; }
    .button-warning.disabled, .button-warning[disabled="disabled"], .button-warning[disabled] {
      zoom: 1;
      filter: alpha(opacity=50);
      opacity: 0.5; }
      .button-warning.disabled:hover, .button-warning[disabled="disabled"]:hover, .button-warning[disabled]:hover {
        cursor: default;
        background-color: #b10e1e; }
      .button-warning.disabled:active, .button-warning[disabled="disabled"]:active, .button-warning[disabled]:active {
        top: 0;
        -webkit-box-shadow: 0 2px 0 #6a0812;
        -moz-box-shadow: 0 2px 0 #6a0812;
        box-shadow: 0 2px 0 #6a0812; }
    .button-warning:link, .button-warning:hover, .button-warning:focus, .button-warning:visited {
      color: white; }
    .button-warning:before {
      content: "";
      height: 110%;
      width: 100%;
      display: block;
      background: transparent;
      position: absolute;
      top: 0;
      left: 0; }
    .button-warning:active:before {
      top: -10%;
      height: 120%; }
    .button-warning[rel="external"]:after {
      display: none;
      content: none;
      margin-left: 0;
      margin-right: 0; }
  
  .no-padding {
    padding: 0 !important; }
  
  .section-details {
    padding-left: 10px;
    border-left: 5px solid #bfc1c3; }
  
  .details-side-by-side dl {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    overflow: hidden; }
  
  .details-side-by-side dt {
    font-weight: bold;
    padding: 0 !important;
    margin: 0 !important;
    float: left;
    width: 30%;
    /* adjust the width; make sure the total of both is 100% */ }
  
  .details-side-by-side dd {
    padding: 0 !important;
    margin: 0 !important;
    float: left;
    width: 70%;
    /* adjust the width; make sure the total of both is 100% */ }
  
  .details-name-value dl {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    overflow: hidden; }
  
  .details-name-value dt {
    font-weight: bold;
    padding: 0 !important;
    margin: 0 !important; }
  
  .details-name-value dd {
    padding: 0 10px 0 0 !important;
    margin: 0 !important; }
  
  .total {
    font-size: 1.3em;
    font-weight: bold; }
  
  #total-amount {
    font-size: 2.0em;
    font-weight: bold; }
  
  .reference {
    font-weight: bold;
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none; }
    @media (max-width: 640px) {
      .reference {
        font-size: 16px;
        line-height: 1.25; } }
  
  #reference-number {
    font-weight: normal; }
  
  .summary-value {
    text-align: left; }
  
  .summary-numeric-value {
    text-align: right; }
  
  .summary-numeric-value-total {
    font-weight: bold; }
  
  .summary-footer {
    background-color: white !important; }
  
  .submit-link {
    font-size: 1em;
    background-color: transparent;
    text-decoration: underline;
    border: none;
    color: #2e3191;
    cursor: pointer; }
  
  .headerSection {
    position: relative;
    float: right;
    width: 33%;
    height: 35px;
    display: block;
    margin: 0 18px; }
  
  a.logoutLink {
    color: white;
    position: absolute;
    text-decoration: none;
    bottom: 0;
    right: 0; }
  
  a.logoutLink:hover {
    text-decoration: underline; }
  
  .loggedInMessage {
    color: white;
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 400px;
    text-align: right; }
  
  #messages {
    padding: 0 2em; }
  
  #messages hr {
    width: 100%;
    margin-top: 2em;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc; }
  
  .validation-error {
    border-left: 5px solid #df3034;
    border-right: 10px solid #fef7f7;
    box-sizing: content-box;
    background: #fef7f7;
    margin-bottom: 10px;
    padding: 15px 0px 15px 10px;
    margin-left: -13px; }
    .validation-error .form-hint {
      color: #0b0c0c; }
    @media (min-width: 641px) {
      .validation-error {
        border-right: 0;
        margin-left: -18px;
        padding-left: 15px; } }
  
  .validation-summary-errors h2 {
    margin-left: 10px; }
  
  .validation-summary-errors {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 3px solid #df3034;
    background: #fef7f7; }
  
  .validation-summary-errors ul a {
    color: #df3034;
    text-decoration: none; }
  
  .validation-summary-errors ul a:hover {
    color: #df3034;
    text-decoration: underline; }
  
  .validation-summary-errors li {
    color: #df3034;
    text-align: left; }
  
  .validation-prompt-summary, .field-validation-error {
    margin-top: 10px;
    margin-bottom: 15px; }
  
  .validation-prompt-summary-error, .field-validation-error {
    color: #df3034;
    display: block;
    text-align: left; }
  