#global-breadcrumb ol { border-top:none;}

.LBD_CaptchaImageDiv,.LBD_CaptchaIconsDiv { float:left; }
.LBD_CaptchaDiv {line-height:1}
.LBD_CaptchaIconsDiv {height:50px; margin-bottom:20px; margin-left:3px;}
#captchaform .validationDiv {clear:left}
#captchaform {margin-top:30px;margin-bottom:20px}

.js-enabled #ok-continue{ display:none}

header.page-header div { padding:2em; margin:0}